
*{
  margin: 0;
  padding: 0;
    font-family: "Syne", sans-serif;
}
.DefaultBackground{
background-color: #F8F4ED;  
display: flex; 
flex-direction: column; 
min-height: 100vh;
 margin: 0; 
 
}


.DefaultFontColor {
 color: #493518;
 
}
span:hover{
  color: #f1972f;
}
.DefaultButton {
  background-color: #F8F4ED;
  border-radius: 19px;
  border: 1px solid #493518;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.DefaultButton:hover {
  background-color: #FFDBB2;
  
}
